<!--The content below is only a placeholder and can be replaced.-->
<div>
	<input id="datatable-search" type="text" name="term" [(ngModel)]="searchText" autofocus placeholder="Put your search text here...">
	<table id="datatable">
		<thead>
			<tr>
				<th *ngFor="let header of configuration.header">
					{{header.textDisplayed}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of (configuration.source | search:headerAttributes:searchText )">
				<td *ngFor="let header of configuration.header">
					{{item[header.attributeName]}}
				</td>
			</tr>
		</tbody>
	</table>
</div>